<!-- Navbar -->
<nav class="navbar nav-list">
  <%= image_tag 'cine.png' %>
  <h2 class="title-show"><%= @list_find.name.capitalize() %></h2>
  <%= link_to "Return lists", lists_path, class: "btn btn-outline-success"%>
</nav>

<!-- Card Movies -->
<div class="container card-movies">
  <% @bookmarks.each do |bookmark| %>
    <% if bookmark.list.name == @list_find.name %>
      <div class="card-movie">
        <h2 class= "title-card-movie"><%= bookmark.movie.title %></h2>
        <div class= "overview-card-movie"><%= bookmark.movie.overview %></div>
        <%= image_tag bookmark.movie.poster_url %>
        <!--      <div class= "card-header"><%#= bookmark.comment %></div>-->
      </div>
    <% end %>
  <% end %>
</div>






<!-- Ver todas las reviews-->
<!--<div class="container">-->
    <%# @reviews.each do |review| %>

    <%# end %>
<!--</div>-->
<!--<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">-->
<!--  <div class= "card-header"><%#= review.rating %></div>-->
<!--</div>-->
<!--<div class= "card-header"><%#= review.content %></div>-->

<!-- Añadir una pelicula mediante un bookmark a una lista -->
<%#= simple_form_for @bookmark do |f| %>
  <%#= f.error_notification %>

  <%#= f.association :movie %>

  <%#= f.input :comment %>
  <%#= f.button :submit, class: "btn-primary" %>
  <%#= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
<%# end %>



<!-- Añadir una review a la lista -->
<%#= simple_form_for @review do |f| %>
  <%#= f.error_notification %>
  
  <%# f.association :movie %>

  <%#= f.input :rating %>
  <%#= f.input :content %>

  <%#= f.button :submit, class: "btn-primary" %>
  <%#= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
<%# end %>


