<!-- Navbar -->
<nav class="navbar nav-list">
  <%= image_tag 'cine.png' %>
  <h2 class="title-show"><%= @list_find.name.capitalize() %></h2>
  <%= link_to "Return lists", lists_path, class: "btn btn-outline-success"%>
</nav>

<!-- Card Movies -->
<div class="container card-movies">
  <% @bookmarks.each do |bookmark| %>
    <% if bookmark.list.name == @list_find.name %>
      <div class="card-movie">
        <h2 class= "title-card-movie"><%= bookmark.movie.title %></h2>
        <div class= "overview-card-movie"><%= bookmark.movie.overview %></div>
        <%= image_tag bookmark.movie.poster_url %>
        <em>"<%= bookmark.comment %>"</em>
      </div>
    <% end %>
  <% end %>
</div>

<!-- Card reviews-->
<div class="container card-reviews">
    <% @reviews.each do |review| %>
      <% if review.list == @list_find %>
          <div class="card-review">
            <em>"<%= review.content %>"</em>
            <% estrella = image_tag "estrella.png" %>
            <%= estrella * review.rating%>
          </div>
      <% end %>
    <% end %>
</div>

<div class="container-form">
  <!-- Add movie mediante bookmark to list-->
  <%= simple_form_for @bookmark, html: { class: "form-add-movie"} do |f| %>
    <%= f.error_notification %>

    <%= f.association :movie %>

    <%= f.input :comment %>
    <%= f.button :submit, class: "btn-primary" %>
    <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
  <% end %>


  <!-- Add review to list-->
  <%= simple_form_for @review, html: { class: "form-add-review"}  do |f| %>
    <%= f.error_notification %>

    <%= f.input :rating %>
    <%= f.input :content %>

    <%= f.button :submit, class: "btn-primary" %>
    <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
  <% end %>
</div>

<% if notice %>
  <p class="alert"><%= notice %></p>
<% end %>
