<nav class="navbar navbar-dark bg-dark">
  <%= link_to "Return lists", lists_path, class: "btn btn-outline-success"%>
  <h2 class="title" style="color: white;"><%= @list_find.name %></h2>
  <%= link_to "Add new movie", new_bookmark_path, class: "btn btn-outline-success"%>
</nav>


<% @bookmarks.each do |bookmark| %>
  <% if bookmark.list.name == @list_find.name %>
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
      <div class= "card-header"><%= bookmark.movie.title %></div>
      <div class= "card-header"><%= bookmark.movie.overview %></div>
      <div class= "card-header"><%= bookmark.comment %></div>
    </div>    
  <% end %>
<% end %>



<%= simple_form_for @bookmark do |f| %>
  <%= f.error_notification %>
  
  <%= f.association :movie %>

  <%= f.input :comment %>
  <%= f.button :submit, class: "btn-primary" %>
  <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
<% end %>
